# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
/dist
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache
test-results/
playwright-report/

/.vscode
.idea

config.yaml
.venv/

route.png
route.svg

.env

run_page/data.db
