# Project dependencies
.cache
*.pyc
__pycache__/
node_modules

# Build directory
/dist
.DS_Store

.ruff_cache/
test-results/
playwright-report/

/.vscode
.idea
.venv/

.env

run_page/data.db
run_page/data.db.enc
