annotated-types==0.8.0
arrow==1.4.0
certifi==2026.7.22
charset-normalizer==3.4.9
flexcache==0.3
flexparser==0.4
geographiclib==2.1
geopy==2.5.0
idna==3.18
Pint==0.25.3
platformdirs==4.11.0
polyline==2.0.4
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
requests==2.34.2
ruff==0.16.0
six==1.17.0
SQLAlchemy==2.0.51
stravalib==2.5.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
